<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Properties>
    <Property name="filename">export/home/apps/logs</Property>
</Properties>
<Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </Console>
    <File name="MyFile"
        fileName="${filename}/app.log"
        immediateFlush="true">
        <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
    </File>
</Appenders>

<Loggers>
    <Logger name="guru.springframework.blog.log4j2properties" level="debug">
    <!-- <Logger name="guru.springframework.blog.log4j2properties" level="warn"> -->
        <AppenderRef ref="LOGFILE" level="debug" />
        <!-- <AppenderRef ref="LOGFILE" level="warn"/> -->
    </Logger>
    <Root level="debug">
    <!-- <Root level="warn"> -->
        <AppenderRef ref="STDOUT"/>
        <AppenderRef ref="Console" level="info"/>
        <AppenderRef ref="MyFile" level="info"/>
        <!-- <AppenderRef ref="Console" level="warn"/>
        <AppenderRef ref="MyFile" level="warn"/> -->
    </Root>
</Loggers>
</Configuration>